* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: gainsboro;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-rendering:optimizeLegibility;
}
body {
    width: 70%;
    margin-left: 15%;
    background-color: #fff;
    padding:18px;
}
header {
    font-size: 250%;
    margin-bottom: 55px;
    margin-top:15px;
    text-transform: uppercase;
}
.table-header
{
    text-transform: uppercase;
}
.container .row .col input {
    width:30%;
    text-align: center;
    vertical-align:middle;
    }

.container {
    width:100%;
    text-align: left;
}
.container .row {
    border-bottom: 1px solid gainsboro;

}
.container .row:first-child,
.container .row:last-child{
    border-bottom: 6px solid gainsboro;

}
.container .row .col {
padding-top: 20px;

}
.container .row .col:first-child {
    width:20%;
    }
.container .row .col:nth-child(2){
    width:40%
    }
    .container .row:nth-child(3),
    .container .row .col:nth-child(4),
    .container .row .col:nth-child(5){
                width:10%;
                align-content: right;
                }
.ruler {

     border: 1px;
    
} 
    .clearfix:after {
        content: '.';
        clear: both;
        display: block;
        height: 0;
        visibility: hidden;
    }
.price
{
    text-decoration:line-through;
    color: gainsboro;
}
sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.2em;
    
  }
  a:link,
a:visited {
    color: gainsboro;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid gainsboro;
}

a:hover,
a:active {
    color: gainsboro;
    border-bottom: 1px solid transparent;
}
.row {
    padding-left: 5px;
}
.controls {
padding-top: 30px;
width: 75%;
border-bottom:0;
}
.controls .col {
margin-left:5px;
}
.col p:first-child{
    font-weight: 400;
    text-transform: uppercase;
    }
    .button {
        background-color: #fff; 
        border: 1px thin gainsboro;
        color: #000;
        padding: 8px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        text-transform: uppercase
    }
    .buttonBlue {
        background-color:#076cbe;
        color: white;
    }
    .calc {
        margin-top: 30px;
    }
    .calc input[type=text] {
        padding: 10;
        height: 35px;
        position: relative;
        width: 60%;
        border: 1px solid #cdcdcd;
        border-color: rgba(0,0,0,.15);
        background-color: white;
        font-size: 16px;
    /* .calc .row:first-child .col:first-child {
      
        background-color: greenyellow;
       margin-right: 80px;
        
    }
    .calc .row:first-child .col:last-child {
       
        background-color: red;
        width: 65%;
    }

    .calc .row:first-child .col:first-child div {
      
        margin-top:10px;      
    }
     */