/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    body{
        font-size: 14px;
        margin-left: 5px;
    }
    section { padding: 10px 0; }
    h2 { font-size: 12px;font-weight: 400; word-spacing: 1px;float: left;}
    h2:after{display: none;}
    .cart-header{display: none;}
    .item-count{display: block;float: right;font-size: 12px;}
    .heading-row:after {
    display: block;
    height: 3px;
    background-color: #ddd;
    content: " ";
    width: auto;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 10px;
    }
    .item-image{width:40%; margin-right: 10px;}
    .item-detail{width:45%;font-size: 12px;}
    .item-label{width:100%;font-size: 14px;}
    .mobile-btn{display: block;padding-bottom: 10px;}
    .desktop-btn,.cart-help,.desktop-msg{display: none;}
    .item-value{display: none;}
    .mobile-details,.mobile-msg{display: block;}
    .mobile-details input{width:30%;}
    .qty-label,.unit-label{float:left;padding-right: 10px;}
    .qty,.unit{margin-top: 20px;}
    .promotion-text {text-align:center;padding-bottom: 10px;}
    .promotion-text p{float:none;}
    .promotion{padding-top:0}
    .subtotal-text p,.applied-text p,.shipping-text p{font-size: 14px;}
    .shipping-info p{float:left;padding-bottom: 20px;}
    .shipping-div {width: 50%;}
    .mobile-total{width:70%}
    .total-text p{float: none;font-size: 20px;}
    .total-info p{float: none;font-size: 14px;margin-bottom: 10px;max-width: 80%;line-height: 100%;}
    .checkout{float: none;padding: 15px 0 20px 0;}
    .checkout input{width: 100%;float:none;margin: 0;padding: 15px 10px 15px 10px;}
    .checkout a{width: 100%;float:none;margin: 10px 0 10px 0;display: block;text-align: center;}
    .checkout-info{text-align: center;float: none;font-size: 20px;}
    .checkout-lock{float:none;text-align: center;padding: 20px 0 0 0; display: block !important;}
    .checkout-info:after {
    display: block;
    height: 2px;
    background-color: #ddd;
    content: " ";
    width: auto;
    margin: 60px auto;
    margin-bottom: 5px;
}
    .checkout-sign-on{display: block;margin-top: 20px;font-size: 20px;}
    .checkout-sign-on a{
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 400;
    color: inherit;
    padding: 10px 5px 0 0;
    word-spacing: 4px;
    }
    .overlay-content{font-size: 16px;min-height: 500px;min-width: 200px;width: 100%;padding: 0;}
    .overlay-close{font-size: 14px;}
    .overlay-item{font-size: 16px; }
    .mobile-btn input{font-size: 16px; }
}    
